<!-- apuntes, agenda, sesion de estudio -->
<div class="first-button-div">
    <img class="home-button-icon" src="../../assets/images/folderIcon.png" routerLink="/apuntes" routerLinkActive="activebutton">
    <br>
    <label>Apuntes</label>
</div>
<div class="second-button-div">
    <img class="home-button-icon" src="../../assets/images/agendaIcon.png" routerLink="/agenda" routerLinkActive="activebutton">
    <br>
    <label>Agenda</label>
</div>
<div class="third-button-div">
    <img class="home-button-icon" src="../../assets/images/clockIcon.png" routerLink="/sesion-estudio" routerLinkActive="activebutton">
    <br>
    <label>Sesión de estudio</label>
</div>